.logo {
    height:178px;
    width:100px;
    display: compact;
    justify-content:center; /* horizontally center */
    align-items:center;    /* vertically center */
    position: absolute;
    bottom: 0;
    left:0;
    background:transparent;
    content:url("./data/images/logo_text.png");
}