:root {
  --light: 44, 100%, 57%;
  --medium: 43, 100%, 57%;
  --dark: 39, 100%, 57%;
}

html {
  min-height: 100%;
  height: auto;
  color: #ffc023;

}


.App .navbar-brand {
  font-weight: bold;
  color: #ffc023;
}

.App .container{
  align-content: center
}

.App {
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-family: verdana, arial;
  scroll-behavior: smooth;
}

.app-header {
  display: grid;
  color: #ffc023;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  background: linear-gradient(to bottom, hsl(var(--dark)) , hsl(var(--medium)) 20%);
}

.app-header > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-height: 10em;
  color: #ffc023;
  /*padding: 1em;*/
}

.top-left {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0em;
}

.top-left-button {
  background-image: url("./logo192.png");
  background-size: 150% 150%;
  background-position: center;
  width: 4rem;
  aspect-ratio: 1 / 1;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
  /*background-color: rgba(255, 192, 35, 0.5);*/
}

.nav {
  display: flex;
  flex-direction: left;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2.25ch;
  height: 12ch;
  width: 28.5ch;
}


.nav:hover {
  background-color: #ffc014;
  transform: translate(0px, -4px);
  color: #ffffff;
  box-shadow: 1px 15px 30px 6px rgba(255, 255, 255, 0.2);
}

.nav:focus {
  background-color: #5aaa4e;
}

.nav:focus:hover {
  color: #5aaa4e;
}


.button {

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: grid;
  background-color: #ffc023;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  gap: 6em;
}

.content-padding {
  padding: 1em;
}


.inputs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border: 2px solid black;
}
.inputs * {
  border-radius: 10px;
  border: 2px solid black;
}

.cards {
  /*sets the container as a grid with variable number of columns*/
  width: calc(100% - 2em);
  display:grid;
  grid-template-columns: repeat(3, 200px);
  grid-column-gap: 14em;
  grid-row-gap: 3em;
  margin:1em 2em 3em;
  justify-items: center;
  padding: 5em;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
  padding: 1em;
  min-height: 10rem;
  max-height: 50rem;
  width: 34rem;
  border: 0;
  border-radius: 10px;
  background: #FED98A;
  overflow-y: auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-style: rounded; /* firefox only */
}
/* no firefox only \/\/\/*/
.card::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.card::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.card::-webkit-scrollbar-thumb {
  display: none;
  background-color: #d3a543;
  border-radius: 10px;
}
.card:hover::-webkit-scrollbar-thumb {
  display: block;
  background-color: #d3a543;
  border-radius: 10px;
}

.beer {
  background-position: center;
  background-size: cover;
  padding-top: 56.25%;
  width: 15rem;
  border-radius: 10px;
  height: auto;
}

img {
  margin-top: -28.25%;
  position: relative;
  width: 100%;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .top-left-button {
    position: relative;
    /*animation: App-logo-spin infinite 20s linear;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
  }
  .top-left-button:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
  .top-left-button::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    /* Create the box shadow at expanded size. */
    box-shadow: 0 10px 50px 0 rgb(255, 192, 35);
    /* Hidden by default. */
    opacity: 0;
    transition: opacity .5s;
  }
  .top-left-button:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
  }


  .card {
    --timing: .5s;
    display: flex;
    flex-direction: column;

    transform: scale(1);
    box-shadow: 0 0 1em .1em rgba(0, 0, 0, 0.1);
    transition: transform var(--timing) ease, box-shadow var(--timing);
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1em .1em rgba(0, 0, 0, 0.5);
    transition: transform var(--timing) ease, box-shadow var(--timing);
  }
}

.BeerForm {
  display: grid;
  flex-direction: row;
  gap: 1em;
  margin-left: 8em;
  justify-items: center;

}
.BeerForm > *:not(:nth-last-child(-n+2)) {
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ffc023;
}
.BeerForm > textarea {
  text-align: center;
  min-height: 8ch;
  max-height: 30ch;
  min-width: 12ch;
  max-width: 30ch;
}
.divider{
  width:12px;
  height:auto;
  display:inline-block;
}
.divider-width{
  width:196px;
  height:auto;
  display:inline-block;
}